::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    min-height: 32px;
    border: 3px solid transparent;
    border-radius: 10px;
    z-index: 12;
    background-image: none;
    background-color: rgba( 67, 73, 83, 1 );
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    // margin: 4px;
    // min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(96, 103, 116);
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: #202020;
    background-color: rgb(67, 73, 83);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
    display: none;
}

/* Custom CSS below this line ------------------------ */

/* PROFILE: Hide every profile's ban status. */
.profile_ban_status {
    display: none !important;
}

/* PROFILE: Hide the button 'Add Showcase'. */
.profile_customization.none_selected {
    display: none !important;
}

/* PROFILE: Hide all recent games except the most recent game. */
.recent_game:not(:first-child) {
    display: none !important;
}

/* PROFILE: Hide the title of every showcase. */
.profile_customization_header {
    display: none !important;
}

/* PROFILE: Hide item count on showcase */
.item_count_stat {
    display: none !important;
}

/* PROFILE: Hide disgusting art showcases from weebs and fucking nerds */
.profile_customization.myart {
    display: none !important;
}

/* PROFILE: Remove item showcase border */
.item_showcase_item {
    border: 0 !important;
}

/* LIBRARY: Hide the What's New sectio. */
.libraryhome_UpdatesContainer_17uEB {
    display: none !important;
}

/* LIBRARY: Hide the info section alert of a non-steam game. */
.appdetailssectionnonsteam_Body_1TGl5 {
    display: none !important;
}

/* LIBRARY: Hide the workshop section on the game page. */
.appdetailsworkshopsection_WorkshopSection_2PfKa {
    display: none !important;
}

/* LIBRARY: Hide the 'New in Library' banner on newly added games. */
.appportrait_AppPortraitBannerContainer_2jj5T {
    display: none !important;
}

/* FRIENDS: Hide the asterisk next to a nicknamed friend. */
.personanameandstatus_playerNicknameBracket_3XEmW,
.player_nickname_hint {
    display: none !important;
}

/* FRIENDS: Hide the status color avatar overlay (No more blue bar on the right of every user image.). */
.avatarStatus {
    display: none !important;
}

/* BADGES: Remove 'How to get card drops' link. */
span.how_to_get_card_drops_ctn {
    display: none;
}

/* BADGES: Remove header line on badge row. */
.badge_title_rule {
    display: none !important;
}

/* INVENTORY: Hide specific games from tab menu (appid). */
#inventory_link_238460, #inventory_link_437220, #inventory_link_381210, #inventory_link_578080, #inventory_link_218620, 
#inventory_link_207140, #inventory_link_570 {
    display: none !important;
}
.games_list_tab_separator {
    display: none !important;
}
.games_list_tab, a.games_list_tab {
    display: inline-block !important;
    float: none !important;
}

/* INVENTORY: Hide warning icon on items (i.e. a nametagged item). */
.slot_app_fraudwarning {
    display: none !important;
}







/* Styling preferences ------------------------ */

/* INVENTORY: Game tab remove shadow on select. */
.games_list_tab.active {
    -webkit-box-shadow: 0 0 black !important;
    -moz-box-shadow: 0 0 black !important;
    box-shadow: 0 0 black !important;
}