::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    min-height: 32px;
    border: 3px solid transparent;
    border-radius: 10px;
    z-index: 12;
    background-image: none;
    background-color: rgba( 67, 73, 83, 1 );
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    // margin: 4px;
    // min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(96, 103, 116);
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: #202020;
    background-color: rgb(67, 73, 83);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
    display: none;
}

/* Custom CSS below this line ------------------------ */

/* PROFILE: Hide every profile's ban status */
.profile_ban_status {
    display: none !important;
}

/* PROFILE: Hide the button 'Add Showcase' */
.profile_customization.none_selected {
    display: none !important;
}

/* LIBRARY: Hide the What's New section */
.libraryhome_UpdatesContainer_17uEB {
    display: none !important;
}

/* LIBRARY: Hide the info section alert of a non-steam game */
.appdetailssectionnonsteam_Body_1TGl5 {
    display: none !important;
}