/* Minified default Steam css DO NOT DELETE */
::-webkit-scrollbar{height:12px;width:12px;background:0 0;z-index:12;overflow:visible}::-webkit-scrollbar-thumb{width:4px;min-height:32px;border:3px solid transparent;border-radius:10px;z-index:12;background-image:none;background-color:#434953;background-clip:padding-box;transition:background-color .32s ease-in-out}::-webkit-scrollbar-thumb:hover{background-color:#606774;background-clip:padding-box}::-webkit-scrollbar-corner{background:#434953}::-webkit-scrollbar-button,::-webkit-scrollbar-track{display:none}

/* Custom CSS below this line ------------------------ */

/* ------ Welcome ------
    In this file you can change your preferences for the skin.
    Every line has an explanation what it does with the code below as minified as possible.
    This way you can comment or delete the sections you don't want.
*/

/* PROFILE: Hide every profile's ban status. */
.profile_ban_status{display: none !important;}

/* PROFILE: Hide the button 'Add Showcase'. */
.profile_customization.none_selected{display: none !important;}

/* PROFILE: Hide all recent games activity */
.recent_games,.profile_recentgame_header,.recentgame_quicklinks{display: none !important;}.profile_comment_area{margin-top: 0 !important;}

/* PROFILE: Hide all recent games activity except the most recent game. (Doesnt have an effect if the above rule is applied) */
.recent_game:not(:first-child){display: none !important;}

/* PROFILE: Hide the title of every showcase. */
/* .profile_customization_header{display: none !important;} */

/* PROFILE: Hide item count on showcase */
/* .item_count_stat{display: none !important;} */

/* PROFILE: Hide disgusting art showcases from weebs and fucking nerds */
.profile_customization.myart{display: none !important;}

/* LIBRARY: Hide the What's New section. */
.libraryhome_UpdatesContainer_17uEB{display: none !important;}

/* LIBRARY: Hide the info section alert of a non-steam game. */
.appdetailssectionnonsteam_Body_1TGl5{display: none !important;}

/* LIBRARY: Hide the 'New in Library' banner on newly added games. */
.appportrait_AppPortraitBannerContainer_2jj5T{display: none !important;}

/* FRIENDS: Hide the asterisk next to a nicknamed friend. CURRENTLY NOT WORKING */
/* .personanameandstatus_playerNicknameBracket_3XEmW,.player_nickname_hint{display: none !important;} */

/* BADGES: Remove 'How to get card drops' link. */
span.how_to_get_card_drops_ctn{display: none;}

/* BADGES: Hide play button on every row. */
.badge_title_playgame{display: none !important;}

/* BADGES: Hide level 0 badges when you have no cards from that collection. CURRENTLY NOT WORKING (it does work in browser) */
/* .badge_row:not(:has(.badge_progress_card.owned)) {
    display: none !important;
} */
/* .badge_row:not(.badge_progress_card.owned) {
    display: none !important;
} */
/* .badge_row:has(.badge_info) {
    display: block !important;
} */

/* INVENTORY: Hide specific games from tab menu (appid). (remove or add to your personal preference) */
#inventory_link_238460, /* BattleBlock Theater */
#inventory_link_437220, /* The Culling */
#inventory_link_381210, /* Dead By Daylight */
#inventory_link_578080, /* PUBG: Battlegrounds */
#inventory_link_218620, /* Payday 2 */
#inventory_link_207140, /* Speedrunners */
#inventory_link_570, /* Dota 2 */
#inventory_link_99900 /* Spiral Knights */ {display: none !important;}
.games_list_tab_separator{display: none !important;}.games_list_tab,a.games_list_tab{display: inline-block !important;margin: 0 1px !important;float: left !important;}

/* INVENTORY: Hide warning icon on items thumbnail (i.e. a nametagged item). */
.slot_app_fraudwarning {display: none !important;}